/*colors
bright green #738c11;
med green #324211
darkest gren #2929e10
muted green c4bd82
*/

.progress{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items:center;
}

.progress > section{
    /*width:32%;*/
    /*border:1px solid gray;*/
    margin-bottom:25px;
}

.most-recent,.visual-data {
    width:95%;
}

li{
    margin-top:8px;
    margin-left:5px;
}

.button-row{
    margin:25px auto;
}

.quote{
    background-color:#738c11;
    border-radius:5px;
    color:#fff;
    margin-bottom:2em;
}

.quote p{
    padding:5px;
}

@media only screen and (min-width:760px){
    .progress{
        flex-direction:row;
        justify-content: space-around;
        flex-wrap:wrap;
        align-items: unset;
    }

    .most-recent,.visual-data {
        width:48%;
        min-width:467px;
    }

}