.chart {
 height:300px;
 width:300px;
 background: white;
 margin:10px auto;
transition: 0.3s;
border:1px solid black;
}

.chart:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media only screen and (min-width:960px){
  .chart {
    height:300px;
    width:340px;
  }
}