.home{
    max-width:95%;
    margin:auto;
}

.tagline{
    font-style:italic;
    font-size:16px;
    max-width: 400px;
    margin: auto;
    font-weight:400;
}

.home section p{
    text-align:left;
}