.goal-form{
    font-size: 17px;
}

label {
    margin-right: 5px;
}

select {
    font-size: 14px;
}

fieldset {
    margin-bottom: 30px;
}

.goal-form {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

button{
    font-size:17px;
    margin:0px 10px;
    border: 1px #40004b solid;
    padding:10px;
    width:120px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}
