/*colors
bright green #738c11;
med green #324211
darkest gren #2929e10
muted green c4bd82

*/
{
  box-sizing: border-box;
}

body{
  background-color:#fff7c8;
  font-family: 'Nunito', sans-serif;
}

body::after {
  content: "";
  background-image: url(./images/lmlm2-background.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

.App > section, .App>div{
  text-align: center;
  padding: 0 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, h2, h3, h4{
  font-family: 'Comfortaa', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Lobster Two', cursive;
  
}

h1{
  text-align:center;
  color:#40004b;
  
}

h3 {
  font-size: 1.5em;
}

.tagline{
  text-align: center;
}




