/*bright green #738c11;
med green #324211
darkest gren #292e10
muted green c4bd82*/

nav ul{
    list-style-type: none;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding-inline-start: 0px;
    max-width: 400px;
}

.nav{
   /* border-bottom: #40004b 1px solid;*/
}

.home-nav-links {
    position: absolute;
    top: 0;
    right: 0;
}

.nav-link, .nav-link-interior {
    border: 0px solid black;
    background-color: transparent;
    font-size: 16px;
    margin: 0 15px;
}

.nav-link:hover{
    border-bottom:1px solid #40004b;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav li {
    margin: 4px 10px;
}

.main-nav a, .nav-link-interior{
    text-decoration:none;
    color: #40004b;
    padding: 3px;
    font-size: 16px;
}

.main-nav a:hover, .nav-link-interior:hover{
    border-bottom: #292e10 2px solid;
}

@media only screen and (min-width:960px){
}