.footer{
    display:flex;
    justify-content:space-between;
}

.footer-section{
    width:23%;
    border-right:1px black solid;
}

.footer-section:nth-last-child(1){
    border-right:0px black solid;
}