.footer{
    display:flex;
    justify-content:space-between;
    border-top:1px solid black;
    margin-top:25px;
}

.footer-section{
    width:23%;
    border-right:1px black solid;
    text-align: center;
}

.footer-section:nth-last-child(1){
    border-right:0px black solid;
}